ProgrammingFor3D_Assignment1/.idea/.idea.ProgrammingFor3D_Assignment1/.idea/encodings.xml
ProgrammingFor3D_Assignment1/.idea/.idea.ProgrammingFor3D_Assignment1/.idea/indexLayout.xml
ProgrammingFor3D_Assignment1/.idea/.idea.ProgrammingFor3D_Assignment1/.idea/modules.xml
ProgrammingFor3D_Assignment1/.idea/.idea.ProgrammingFor3D_Assignment1/.idea/projectSettingsUpdater.xml
ProgrammingFor3D_Assignment1/.idea/.idea.ProgrammingFor3D_Assignment1/.idea/vcs.xml
ProgrammingFor3D_Assignment1/.idea/.idea.ProgrammingFor3D_Assignment1/.idea/workspace.xml
